!!!
%head
  %script{src: "https://raw.github.com/Phrogz/context-blender/master/context_blender.js", type: "text/javascript"}
  %script{:src => '/compaa.js'}
  :javascript
    document.onreadystatechange = function() {
      if (document.readyState == "complete" || document.readyState == "interactive") {
        var compaa = new Compaa();
        compaa.init();
      }
    };

%body
  %canvas#offScreenCanvas{style: 'position: absolute; left: -9999999px;'}
  %canvas#difference
  %img#animation{style: 'display: none'}
  %img#oldImage{style: 'display: none'}
  %img#newImage{style: 'display: none'}

  #buttonBar{style: 'width: 400px; margin: 0px auto'}
    %button#differenceButton Difference
    %button#animationButton Animation
    %button#oldImageButton Old Image
    %button#newImageButton New Image
    %form{:class => 'artifacts', :method => 'POST', :action => '/screenshots'}
      %input#filepath{:name => 'filepath', :type => 'hidden', :value => ''}
      %input{:type => 'submit', :value => 'Accept'}
