!!!
%head
%script{:src => "https://raw.github.com/Phrogz/context-blender/master/context_blender.js", :type => "text/javascript"}
%body
%canvas#offScreenCanvas{:style => 'position: absolute; left: -9999999px;'}
%canvas#onScreenCanvas{style: 'float: left;'}
%img{:src=>params[:filepath], :style=>'width: 50%; height: 50%; float: left'}
%img#old{:style=>'float: left'}
%img#new{:style=>'float: left'}
:javascript
  document.onreadystatechange = function () {
        if (document.readyState == "complete" || document.readyState == "interactive"){

        console.log('ready');
                  
        var differenceGifPath = '#{params[:filepath]}';
        var oldImagePath = '#{params[:filepath].gsub('gif','png').gsub('_difference.png','').gsub('differences_in_screenshots_this_run','reference_screenshots')}';
        var newImagePath = '#{params[:filepath].gsub('gif','png').gsub('_difference.png','').gsub('differences_in_screenshots_this_run','screenshots_generated_this_run')}';

        var oldImg=document.createElement('img');
        oldImg.src = oldImagePath
        
        var newImg=document.createElement('img');
        newImg.src = newImagePath

        document.getElementById('onScreenCanvas').width = oldImg.width;
        document.getElementById('onScreenCanvas').height = oldImg.height;

        document.getElementById('offScreenCanvas').width = newImg.width;
        document.getElementById('offScreenCanvas').height = newImg.height;
        
        var over = document.getElementById('offScreenCanvas').getContext('2d'); 
        over.drawImage(oldImg, 0, 0);

        var under = document.getElementById('onScreenCanvas').getContext('2d');
        under.drawImage(newImg, 0, 0);

        over.blendOnto(under,'difference');

        document.getElementById('onScreenCanvas').style.width = '50%';
        document.getElementById('onScreenCanvas').style.height = '50%';

        document.getElementById('old').src = oldImagePath;
        document.getElementById('old').style.width = '50%';
        document.getElementById('old').style.height = '50%';

        document.getElementById('new').src = newImagePath;
        document.getElementById('new').style.width = '50%';
        document.getElementById('new').style.height = '50%';
        }
  }

