!!!
%head
  %script{src: '/assets/context_blender.js'}
  %script{src: '/assets/blender.js'}
  %script{src: '/assets/compaa.js'}
  %link{rel: 'stylesheet', href: '/assets/bootstrap.css'}
  :javascript
    var compaa;
    document.addEventListener('DOMContentLoaded', function() {
      compaa = Object.create(Compaa);
      compaa.init();
    }, false);

%body
  %canvas#difference

  %img#animation{style: 'display: none'}
  %img#referenceImage{style: 'display: none'}
  %img#generatedImage{style: 'display: none'}

  %div{style: 'width: 500px; margin: 0px auto; text-align: center;'}
    %p
      %a.btn#differenceButton{href: '#'} Difference
      %a.btn#animationButton{href: '#'} Animation
      %a.btn#referenceImageButton{href: '#'} Reference Image
      %a.btn#generatedImageButton{href: '#'} Generated Image
    %p
      %a#accept.btn.btn-primary{href: '#'} Accept
      %a#reject.btn.btn-danger{href: '#'}  Reject
