!!!
%head
  %script{src: '/assets/underscore.js'}
  %script{src: '/assets/jquery-2.0.0.js'}
  %script{src: '/assets/compaa.js'}
  %link{rel: 'stylesheet', href: '/assets/bootstrap.css'}
  :javascript
    var compaa;
    $(function() {
      compaa = Object.create(Compaa);
      compaa.init();
    });

%body
  %canvas#offScreenCanvas{style: 'position: absolute; left: -9999999px;'}
  %canvas#difference

  %img#animation{style: 'display: none'}
  %img#referenceImage{style: 'display: none'}
  %img#generatedImage{style: 'display: none'}

  %div{style: 'width: 500px; margin: 0px auto; text-align: center;'}
    %p
      %a.btn#differenceButton{href: '#'} Difference
      %a.btn#animationButton{href: '#'} Animation
      %a.btn#referenceImageButton{href: '#'} Reference Image
      %a.btn#generatedImageButton{href: '#'} Generated Image
    %p
      %a#accept.btn.btn-primary{href: '#'} Accept
      %a#reject.btn.btn-danger{href: '#'}  Reject
