!!!
%head
  %script{src: "https://raw.github.com/Phrogz/context-blender/master/context_blender.js", type: "text/javascript"}
  %script{:src => '/underscore.js'}
  %script{:src => '/jquery-2.0.0.js'}
  %script{:src => '/compaa.js'}
  :javascript
    document.addEventListener("DOMContentLoaded", function() {
      var compaa = new Compaa();
      compaa.init();
    }, false);

%body
  %canvas#offScreenCanvas{style: 'position: absolute; left: -9999999px;'}
  %canvas#difference
  %img#animation{style: 'display: none'}
  %img#oldImage{style: 'display: none'}
  %img#newImage{style: 'display: none'}

  #buttonBar{style: 'width: 400px; margin: 0px auto'}
    %button#differenceButton Difference
    %button#animationButton Animation
    %button#oldImageButton Old Image
    %button#newImageButton New Image
    %form{:class => 'artifacts', :method => 'POST', :action => '/screenshots'}
      %input#filepath{:name => 'filepath', :type => 'hidden', :value => ''}
      %input{:type => 'submit', :value => 'Accept', :id => 'accept'}
